body {
  font-family: "Montserrat";
  text-align: center;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: rgb(58, 182, 126);
}

/* Headings */
.big-heading {
  font-family: 'STIX Two Math', serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.white-section .big-heading {
  margin-top: 35%;
  padding-left: 10%;
  padding-bottom: 5%;
  text-align: left;
  font-size: 3rem;
}

.white-section .button {
  margin-bottom: 22%;
  background-color: rgb(58, 182, 126);
  border: 5px solid #69E0A5;
  font-weight: bold;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: rgb(58, 182, 126);
  color: #fff;
  overflow: hidden;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

/* Buttons */
/* Title Section */
#fundraiser img {
  padding-top: 10%;
  width: auto;
  height: 90%;
  left: 15%;
}

#fundraiser .big-heading {
  margin-top: 35%;
  padding-left: 10%;
  padding-bottom: 10%;
  text-align: left;
  font-size: 3rem;
}

#fundraiser button {
  margin-bottom: 22%;
}

#title {
  background-color: rgb(58, 182, 126);
  color: #fff;
  text-align: left;
}

.MT img {
  height: 20%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 245%;
  position: absolute;
  left: -10%;
}

.whitespace-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 24%;
  align: right;
}

footer {
  padding-top: 2%;
  padding-bottom: 1%;
}
